.section{
  padding: 30px 0;
}

.select2-selection__choice{
  color: #000;
  margin: 3px;
}

.loader{
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/img/loading.gif");
  &.loader-sm{
    width: 25px;
    height: 25px;
  }
}