$topNavColor: #fff;

$sideNavColor: #343a40;
$sideNavWidth: 340px;
$sideNavBorderColor:  #282828;
$sideNavItemTextColor: rgba(255,255,255,0.5);
$sideNavActiveItemTextColor: #fff;
$sideNavHoveredItemTextColor: #fff;

#admin-layout{
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,sans-serif;
  .page-container {
    display: table;
    width: 100%;
    height: 100%;
    .side-nav {
      display: table-cell;
      line-height: 1.5;
      font-size: 14px;
      background-color: $sideNavColor;
      box-sizing: border-box;
      width: $sideNavWidth;
      height: 100%;
      .title {
        h3 {
          margin: 25px 5px 25px 10px;
          font-weight: 600;
          color: #000;
          text-shadow: 2px 2px #464646;
        }
      }
      .menu-items {
        margin: 0px;
        list-style: none;
        padding: 0px;
        .item {
          border-bottom: 1px solid $sideNavBorderColor;
          position: relative;
          &:first-child {
            border-top: 1px solid $sideNavBorderColor;
          }
          a {
            display: block;
            position: relative;
            padding: 8px 40px 8px 25px;
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            &:hover {
              color: $sideNavHoveredItemTextColor;
            }
          }
          .sub-menu-items {
            list-style: none;
            padding-left: 20px;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.3s;
            .sub-menu-item {

            }
          }
        }
        .has-sub {
          &.expanded {
            .sub-menu-items {
              max-height: 200px;
            }
            & > a {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          & > a {
            &:after {
              color: inherit;
              display: inline-block;
              font-family: FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              content: "\F107";
              position: absolute;
              top: 8px;
              right: 20px;
              cursor: pointer;
              font-size: 16px;
            }
          }
        }
      }
      .active {
        color: $sideNavActiveItemTextColor;
      }
    }
    .main-content{
      display: table-cell;
      .top-nav {
        line-height: 1;
        font-size: 14px;
        box-sizing: border-box;
        height: 56px;
        background-color: $topNavColor;
        border-bottom: 1px solid #eee;
        .menu-items {
          display: inline-block;
          padding: 0px;
          list-style: none;
          margin: 0px;
          height: 100%;
          &.side-nav {
            float: right;
            margin-right: 15px;
          }
          &.right{
            float: right;
            margin-right: 15px;
          }
          .menu-item {
            position: relative;
            & > a {
              padding: 21px 5px;
              display: block;
              color: #979898;
              text-decoration: none;
            }
            &.expanded {
              .sub-menu-items {
                display: block;
              }
            }
            .sub-menu-items {
              display: none;
              background-color: #fff;
              border: 1px solid #eee;
              border-top: none;
              position: absolute;
              right: 0px;
              top: 56px;
              padding: 0;
              list-style: none;
              min-width: 180px;
              z-index: 1;
              a {
                padding: 5px 10px 5px 15px;
                display: block;
                color: #979898;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .page-container {
      display: block;
      .side-nav {
        display: none;
      }
      .main-content{
        display: block;
      }
    }
  }
}